.searchContainer {
  margin: 20px auto;
  width: 300px;
  position: relative;
  align-items: center;
}

.input {
  border: none;
  border-bottom: 1px solid #e3e4dc;
  padding: 10px 20px;
  width: 100%;
  align-items: center;
  outline: none;
  font-size: 16px;
  color: #393e46;
}

.modernbutton {
  display: inline-block;
  white-space: nowrap;
  background-color: white;
  border: 1px solid #e3e4dc;
  color: #393e46;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.inputcontainer {
  display: flex;
}
